<ion-header>
	<ion-navbar color="primary" >
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Home</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	
	<ion-card>
		
		<ion-card-header>
			Lista de Auditoria
		</ion-card-header>
		
		<ion-card-content>
			<ion-grid *ngIf="dataHome">

				<ion-row>
					<ion-col col-2><small><strong>Id</strong></small></ion-col>
					<ion-col col-7 *ngIf="_empresa == 1"  ><small><strong>Auditor Digiboard</strong></small></ion-col>
					<ion-col col-7 *ngIf="_empresa != 1"><small><strong>Auditor Lenovo</strong></small></ion-col>
					<ion-col col-3 text-center ><small><strong>Status</strong></small></ion-col>
				</ion-row>

				<div *ngFor="let item of dataHome">
					<ion-row (click)="auditar( item.audi_id )" *ngIf="(_empresa == 1 && item.audi_status_digiboard != 'S' ) || ( (_empresa !=1 && item.audi_status_lenovo != 'S') && (item.audi_status_digiboard == 'S') )">

						<ion-col col-2 >{{ item.audi_id }}</ion-col>

						<ion-col col-7 				*ngIf="_empresa == 1"> {{ item.usua_nome_dgb }} </ion-col>
						<ion-col col-3 text-center  *ngIf="_empresa == 1"> {{ item.audit_1 }}% </ion-col>

						<ion-col col-7 				*ngIf="_empresa != 1"> {{ item.usua_nome_len }} </ion-col>
						<ion-col col-3 text-center 	*ngIf="_empresa != 1"> {{ item.audit_2 }}% </ion-col>

					</ion-row>

				</div>

			</ion-grid>

		</ion-card-content>
		
	</ion-card>
	
	
</ion-content>
