<ion-header>
	<ion-navbar color="primary" >
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Home</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	
	<ion-card>
		
		<ion-card-header>
			Lista de Auditoria
		</ion-card-header>
		
		<ion-card-content>
			<ion-grid *ngIf="dataHome">

				<ion-row>
					<ion-col col-2 ><strong>Id</strong></ion-col>

					<ion-col col-8 *ngIf="_empresa == 1"  ><strong>Auditor Digiboard</strong></ion-col>
					<ion-col col-8 *ngIf="_empresa != 1"><strong>Auditor Lenovo</strong></ion-col>

					<ion-col col-2><strong>Status</strong></ion-col>
				</ion-row>
				
				<div *ngFor="let item of dataHome">

					<ion-row (click)="auditar( item.audi_id )">
						
						<ion-col col-2 >{{ item.audi_id }}</ion-col>
						<ion-col col-8 *ngIf="_empresa == 1"> {{ item.usua_nome_dgb }} </ion-col>
						<ion-col col-2 *ngIf="_empresa == 1"> {{ item.audit_1 }} </ion-col>
						<ion-col col-8 *ngIf="_empresa != 1"> {{ item.usua_nome_lenovo }} </ion-col>
						<ion-col col-2 *ngIf="_empresa != 1"> {{ item.audit_2 }} </ion-col>

					</ion-row>

				</div>

			</ion-grid>
		</ion-card-content>
		
	</ion-card>
	
	
</ion-content>
