<ion-header>
	
	<ion-navbar>
		<ion-title>Categorias Checklist</ion-title>
	</ion-navbar>
	
</ion-header>


<ion-content>
	<ion-item-group *ngFor="let category of categoryCriterias" >
		<ion-item-divider color="lightGrey">{{category.auca_cate_name}}</ion-item-divider>
		<ion-item *ngFor="let item of category.customer_criterion" text-wrap (click)="auditar(item.aucc_id)"  >
			{{ item.aucc_cucr_custumer_criteria }}
			
			<ion-badge *ngIf="_empresa  == 1 && item.ausc_score_digiboard != null" color="primary" item-end><ion-icon name="checkmark"></ion-icon></ion-badge>
			<ion-badge *ngIf="_empresa  != 1 && item.ausc_score_lenovo != null" color="danger" item-end><ion-icon name="checkmark"></ion-icon></ion-badge>

		</ion-item>
	</ion-item-group>
</ion-content>
